/* 头部 */
.order_header {
    width: 100%;
    height: 100px;
    background: #1D5598;
}

.order_nav {
    height: 100%;
    position: relative;
}

.order_nav img {
    margin-left: 23px;
    position: absolute;
    top: 50%;
    /*偏移*/
    margin-top: -22px;
}

/* 内容 */
.order_left {
    float: left;
    width: 21%;
    /* height: calc(100vh - 80px); */
    height: 851px;
    background: #1D5598;
}

/* .order_uu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
} */

.order_right {
    float: right;
    width: 76%;
    margin: 56px 0 0 30px;
}

.order_left img {
    width: 191px;
    height: 45px;
    margin: 26px 0 84px 23px;
}

.order_uu li {
    width: 100%;
    height: 65px;
    font-size: 22px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #EFEFEF;
    line-height: 28px;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
}

.order_name {
    margin-right: 8px;
}

.order_name span {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: black;
    line-height: 18px;
    margin-left: 24px;
}

/* order_main */
.order_main {
    padding: 34px 52px 0 31px;
    /* width: 813px; */
    height: 730px;
    background: white;
    position: relative;
}

.order_main h4 {
    font-size: 22px;
    font-family: PingFangSC-Medium;
    color: black;
    line-height: 31px;
    margin-bottom: 25px;
}

/* table */
table {
    /* width: 813px; */
    border: 2px solid black;
}

th {
    height: 53px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: black;
    background: #1D5598;
    color: white;
}

td {
    height: 54px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 5px;
    line-height: 20px;
}


tr td span {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: black;
    line-height: 16px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

tr,
th,
td {
    border: 2px solid black;
    vertical-align: middle;
}

.order_table {
    height: 585px;
    overflow: hidden;
}

.on {
    background: #043978;
}

.active {
    background: #F0F0F0;
}

.red {
    color: red;
}

.receive {
    display: inline-block;
    width: 58px;
    height: 32px;
    background: url(../img/jiedan.png) no-repeat;
    -ms-behavior: url(css/backgroundsize.min.htc);
	behavior:url(css/backgroundsize.min.htc);
    background-size: 100% 100%;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: white;
    line-height: 32px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}




/* 

栅格栏布局1024

*/

@media only screen and (max-width: 1024px) {

    /* 头部 */
    .order_header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 42px;
        background: #1D5598;
    }

    .order_nav {
        height: 100%;
        position: relative;
    }

    .order_banner {
        margin-top: 42px;
    }

    .order_nav img {
        width: 107px;
        height: 26px;
        margin-left: 23px;
        position: absolute;
        top: 50%;
        /*偏移*/
        margin-top: -13px;
    }

    /* 内容 */
    .order_left {
        float: left;
        width: 16%;
        /* height: calc(100vh - 100px); */
        height: 580px;
        background: #1D5598;
    }

    .order_right {
        float: right;
        width: 80%;
        margin: 20px 0 0 0;
    }

    .order_left img {
        width: 191px;
        height: 45px;
        margin: 26px 0 84px 23px;
    }

    .order_uu li {
        width: 100%;
        height: 65px;
        font-size: 18px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: #EFEFEF;
        line-height: 28px;
        text-align: center;
        line-height: 65px;
        cursor: pointer;
    }

    .order_name {
        margin-right: 8px;
    }

    .order_name span {
        font-size: 18px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: black;
        line-height: 18px;
        margin-left: 24px;
    }

    /* order_main */
    .order_main {
        padding: 10px 25px 0 20px;
        height: 550px;
        background: white;
        position: relative;
    }

    .order_main h4 {
        font-size: 18px;
        font-family: PingFangSC-Medium;
        color: black;
        line-height: 22px;
        margin-bottom: 15px;
    }

    /* table */
    table {
        border: 2px solid black;
    }

    th {
        height: 43px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: black;
        background: #1D5598;
        color: white;
    }

    td {
        height: 40px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: black;
        text-align: center;
        padding: 5px;
        line-height: 18px;
    }


    tr td span {
        width: 100%;
        height: 48px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: black;
        line-height: 16px;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    tr,
    th,
    td {
        border: 2px solid black;
        vertical-align: middle;
    }

    .order_table {
        height: 463px;
        overflow: hidden;
    }

    .on {
        background: #043978;
    }

    .active {
        background: #F0F0F0;
    }

    .red {
        color: red;
    }

    .receive {
        display: inline-block;
        width: 58px;
        height: 32px;
        background: url(../img/jiedan.png) no-repeat;
        -ms-behavior: url(css/backgroundsize.min.htc);
        behavior:url(css/backgroundsize.min.htc);
        background-size: 100% 100%;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: white;
        line-height: 32px;
        cursor: pointer;
    }
}